<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown-content.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table-column.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">

<script src="../../bower_components/moment/min/moment.min.js"></script>

<dom-module id="rmd-view">
  <style>
  :host {
    --iron-icon-width: 16px;
    --iron-icon-height: 16px;
  }
  </style>
  <template>
    <!-- If the RMD datasource is not enabled, you can pass in an asset directly. -->
    <!--<seed-table asset-data="{{openedAsset}}" show-asset-only="true"></seed-table>-->

    <!-- If RMD datasource is enabled, call that and pass data to the table. -->
    <px-card id="tableCard" style="padding-top: 15px">
      <px-data-table table-data="{{seedTableData}}" hide-pagination-control="[[!showPagination]]">
        <px-data-table-column name="windDirection" label="Wind Direction" type="html" hide="[[showAssetOnly]]"></px-data-table-column>
        <px-data-table-column name="windSpeed" label="Wind Speed" type="html" hide="[[showAssetOnly]]"></px-data-table-column>
        <px-data-table-column name="hydraulicOilTemp" label="Hydraulic Oil Temp" hide="[[showAssetOnly]]"></px-data-table-column>
        <px-data-table-column name="ambientTemp" label="Ambient Temp" hide="[[showAssetOnly]]"></px-data-table-column>
        <px-data-table-column name="turbineStatus" label="Turbine Status" hide="[[showAssetOnly]]"></px-data-table-column>
        <px-data-table-column name="expectedApparentPower" label="Expected Apparent Power"></px-data-table-column>
        <px-data-table-column name="currentApparentPower" label="Current Apparent Power"></px-data-table-column>
        <px-data-table-column name="powerDelta" label="Power Delta"></px-data-table-column>
      </px-data-table>
    </px-card>

    <iron-ajax
      url="http://0.0.0.0:8080"
      id="datatableAjaxEl"
      handle-as="json"
      debounce-duration="300"
      on-response="handleResponse"
    >
    </iron-ajax>

    <div id="refreshTableBtn"
      style="text-align: center; line-height: 26px; width: 28px; height: 28px; position: absolute; top: 18px; right: 20px; border: 1px solid #999; border-radius: 4px;">
      <iron-icon icon="fa:fa-refresh" style="margin-left: 2px; margin-top: 1px"></iron-icon>
    </div>
  </template>
  <script>
    Polymer({
      is: 'rmd-view',
      properties: {
        seedTableData: {
          type: Object
        }
      },

      ready: function () {
        // console.log(this.$.datatableAjaxEl);
        let url="https://balancer-ml.run.aws-usw02-pr.ice.predix.io"

        this.$.datatableAjaxEl.addEventListener('response', function(evt) {
          this.$.seedTableData = evt.detail.response;
          console.log((this.$.seedTableData));
        }.bind(this));

        this.$.datatableAjaxEl.generateRequest();
        // this.$.seedTableData = this.$.datatableAjaxEl.parseResponse();
      },

      handleResponse: function (data) {
        
      }
    });
  </script>
</dom-module>
